<div>
    <form>
        <p>
            <font size='5'>
                <font color="black"></font>
            </font>
        </p>
        </CENTER>
        <h1 align=center>
            <div class="header"><img align=center src="../template/images/image2.png" height="70px" width="70px">CHATAPP</h1>
        <center>
            <p><b><font color="black">
                        <font size='5'>LOGIN PAGE </font>
                        <font color="black" </b>
            </p>
        </center>
        <center>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> <label>EMAIL ID </label><input type="text" placeholder="email"
                    ng-model="user.email"></p>
            <br>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> <label>PASSWORD </label><input type="password" placeholder="password"
                    ng-model="user.password"></p>
            <button type="button" ng-click="login()">Login</button>
            <button type="reset" value="Reset">Reset</button>
            <br>
    </form>
    <br>
    <a href="#!/Registration"> click here for Registration..</a>

    </center>
    <h3>{{message}}</h3>
    </font>
    </div>